@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Media Inventory Manager</h1>
    <p>Select a group to manage</p>
    <div class="list-group">
        <a asp-controller="Artist" asp-action="Index" class="list-group-item">Manage Artists</a>
        <a asp-controller="Borrower" asp-action="Index" class="list-group-item">Manage Borrowers</a>
        <a asp-controller="Media" asp-action="Index" class="list-group-item">Manage Media</a>
        <a asp-controller="MediaHasBorrower" asp-action="Index" class="list-group-item">Manage Checkouts</a>
    </div>
</div>
